{% include 'link.html' %}

<nav class="row nav p-10">
    <div class="col-4"></div>
    <div class="row col-4">
        <div class="col-3 text-center"><a href="/admin_home" class="nav-items">Home</a></div>
        <div class="col-3 text-center"><a href="/upload_book" class="nav-items">Upload Book</a></div>
        <div class="col-3 text-center"><a href="/view_books" class="nav-items">View Books</a></div>
        <div class="col-3 text-center"><a href="/logout" class="nav-items">Logout</a></div>
    </div>
    <div class="col-4 row">
        
        <!-- <div class="col-3 text-center"><a href="/genres" class="nav-items">Genre</a></div> -->
    </div>
</nav>


